<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>JSPWeb</display-name>

    <servlet>
        <servlet-name>studentInfoServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.student.StudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherInfoServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.teacher.TeacherInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeacherServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.teacher.AddTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.teacher.UpdateTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeacherServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.teacher.DeleteTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowClassInfoServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.classes.ShowClassInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClassesServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.classes.UpdateClassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassInfoServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.classes.AddClassInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentInfoServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.student.UpdateStudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentInfoServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.student.AddStudentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCourseInfoServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.course.ShowCourseInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseInfoServlet</servlet-name>
        <servlet-class>com.ztkj.scoreSys.servlet.course.UpdateCourseInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCourseInfoServlet</servlet-name>
        <url-pattern>/updateCourseInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCourseInfoServlet</servlet-name>
        <url-pattern>/showCourseInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentInfoServlet</servlet-name>
        <url-pattern>/addStudentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentInfoServlet</servlet-name>
        <url-pattern>/updateStudentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassInfoServlet</servlet-name>
        <url-pattern>/addClassInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClassesServlet</servlet-name>
        <url-pattern>/updateClassInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowClassInfoServlet</servlet-name>
        <url-pattern>/showClassInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeacherServlet</servlet-name>
        <url-pattern>/deleteTeacherServlet.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <url-pattern>/updateTeacher.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentInfoServlet</servlet-name>
        <url-pattern>/showStudentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherInfoServlet</servlet-name>
        <url-pattern>/showTeacherInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeacherServlet</servlet-name>
        <url-pattern>/addTeacherInfo</url-pattern>
    </servlet-mapping>
</web-app>